@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-main: var(--font-inter);
  --font-heading: var(--font-merriweather);
}

@layer base {
  body {
    @apply bg-[#F4F1EA] text-[#1A1A1A];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-merriweather text-[#2D4A3E];
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 4af7fc6 (Fix: Aplicado downgrade de Next.js y React a versiones estables)
